.center-vert {
  top: 50%;
  transform: translateY(-50%); }

.center-hori {
  left: 50%;
  transform: translateX(-50%); }

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media all and (max-width: 1500px) {
  .center-vert\@\@lgx {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@lgx {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@lgx {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@lgx {
    top: auto;
    left: auto;
    transform: initial; } }

@media all and (max-width: 1024px) {
  .center-vert\@\@lg {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@lg {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@lg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@lg {
    top: auto;
    left: auto;
    transform: initial; } }

@media all and (max-width: 768px) {
  .center-vert\@\@md {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@md {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@md {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@md {
    top: auto;
    left: auto;
    transform: initial; } }

@media all and (max-width: 500px) {
  .center-vert\@\@sm {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@sm {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@sm {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@sm {
    top: auto;
    left: auto;
    transform: initial; } }

@media all and (max-width: 400px) {
  .center-vert\@\@smx {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@smx {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@smx {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@smx {
    top: auto;
    left: auto;
    transform: initial; } }

@media all and (min-width: 1500px) {
  .center-vert\@\@lgx-mn {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@lgx-mn {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@lgx-mn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@lgx-mn {
    top: auto;
    left: auto;
    transform: initial; } }

@media all and (min-width: 1024px) {
  .center-vert\@\@lg-mn {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@lg-mn {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@lg-mn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@lg-mn {
    top: auto;
    left: auto;
    transform: initial; } }

@media all and (min-width: 768px) {
  .center-vert\@\@md-mn {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@md-mn {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@md-mn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@md-mn {
    top: auto;
    left: auto;
    transform: initial; } }

@media all and (min-width: 500px) {
  .center-vert\@\@sm-mn {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@sm-mn {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@sm-mn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@sm-mn {
    top: auto;
    left: auto;
    transform: initial; } }

@media all and (min-width: 400px) {
  .center-vert\@\@smx-mn {
    top: 50%;
    transform: translateY(-50%); }
  .center-hori\@\@smx-mn {
    left: 50%;
    transform: translateX(-50%); }
  .center\@\@smx-mn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .center-off\@\@smx-mn {
    top: auto;
    left: auto;
    transform: initial; } }

.toggle-sibling ~ .toggle-sibling-target {
  display: none; }

.toggle-sibling:checked ~ .toggle-sibling-target {
  display: block; }

.toggle-sibling:checked ~ .toggle-sibling-target-ib {
  display: inline-block; }

.toggle-sibling:checked ~ .toggle-sibling-target-dn {
  display: none; }

.toggle-sibling\:h ~ .toggle-sibling-target {
  display: none; }

.toggle-sibling\:h:hover ~ .toggle-sibling-target,
.toggle-sibling\:h .toggle-sibling-target:hover {
  display: block; }

.toggle-sibling\:h:hover ~ .toggle-sibling-target-ib,
.toggle-sibling\:h .toggle-sibling-target-ib:hover {
  display: inline-block; }

.toggle-sibling\:h:hover ~ .toggle-sibling-target-dn {
  display: none; }

.toggle-children\:h .toggle-children-target {
  display: none; }

.toggle-children\:h:hover .toggle-children-target,
.toggle-children\:h .toggle-children-target:hover {
  display: block; }

.toggle-children\:h:hover .toggle-children-target-ib,
.toggle-children\:h .toggle-children-target-ib:hover {
  display: inline-block; }

.toggle-children\:h:hover .toggle-children-target-dn {
  display: none; }

@media all and (max-width: 1500px) {
  .toggle-sibling\:h\@\@lgx ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@lgx:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@lgx .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@lgx:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@lgx .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@lgx:hover ~ .toggle-sibling-target-dn {
    display: none; } }

@media all and (max-width: 1024px) {
  .toggle-sibling\:h\@\@lg ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@lg:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@lg .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@lg:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@lg .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@lg:hover ~ .toggle-sibling-target-dn {
    display: none; } }

@media all and (max-width: 768px) {
  .toggle-sibling\:h\@\@md ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@md:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@md .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@md:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@md .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@md:hover ~ .toggle-sibling-target-dn {
    display: none; } }

@media all and (max-width: 500px) {
  .toggle-sibling\:h\@\@sm ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@sm:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@sm .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@sm:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@sm .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@sm:hover ~ .toggle-sibling-target-dn {
    display: none; } }

@media all and (max-width: 400px) {
  .toggle-sibling\:h\@\@smx ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@smx:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@smx .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@smx:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@smx .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@smx:hover ~ .toggle-sibling-target-dn {
    display: none; } }

@media all and (min-width: 1500px) {
  .toggle-sibling\:h\@\@lgx-mn ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@lgx-mn:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@lgx-mn .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@lgx-mn:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@lgx-mn .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@lgx-mn:hover ~ .toggle-sibling-target-dn {
    display: none; } }

@media all and (min-width: 1024px) {
  .toggle-sibling\:h\@\@lg-mn ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@lg-mn:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@lg-mn .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@lg-mn:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@lg-mn .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@lg-mn:hover ~ .toggle-sibling-target-dn {
    display: none; } }

@media all and (min-width: 768px) {
  .toggle-sibling\:h\@\@md-mn ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@md-mn:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@md-mn .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@md-mn:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@md-mn .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@md-mn:hover ~ .toggle-sibling-target-dn {
    display: none; } }

@media all and (min-width: 500px) {
  .toggle-sibling\:h\@\@sm-mn ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@sm-mn:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@sm-mn .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@sm-mn:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@sm-mn .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@sm-mn:hover ~ .toggle-sibling-target-dn {
    display: none; } }

@media all and (min-width: 400px) {
  .toggle-sibling\:h\@\@smx-mn ~ .toggle-sibling-target {
    display: none; }
  .toggle-sibling\:h\@\@smx-mn:hover ~ .toggle-sibling-target,
  .toggle-sibling\:h\@\@smx-mn .toggle-sibling-target:hover {
    display: block; }
  .toggle-sibling\:h\@\@smx-mn:hover ~ .toggle-sibling-target-ib,
  .toggle-sibling\:h\@\@smx-mn .toggle-sibling-target-ib:hover {
    display: inline-block; }
  .toggle-sibling\:h\@\@smx-mn:hover ~ .toggle-sibling-target-dn {
    display: none; } }

.hide-last-child *:last-child {
  display: none; }

.rotZ45 {
  transform: rotateZ(45deg); }

.rotZ90 {
  transform: rotateZ(90deg); }

.rotZ-45 {
  transform: rotateZ(-45deg); }

.rotZ-90 {
  transform: rotateZ(-90deg); }

.sca50 {
  transform: scale(0.5, 0.5); }

.sca150 {
  transform: scale(1.5, 1.5); }

.sca200 {
  transform: scale(2, 2); }

.trans-op {
  transition: opacity .3s ease-in-out; }

.trans-c {
  transition: color .3s ease-in-out; }

.trans-bg {
  transition: background .3s ease-in-out; }

.trans-transf {
  transition: transform .3s ease-in-out; }

.trans-t {
  transition: top .3s ease-in-out; }

.trans-b {
  transition: bottom .3s ease-in-out; }

.trans-l {
  transition: left .3s ease-in-out; }

.trans-r {
  transition: right .3s ease-in-out; }

.trans-all {
  transition: all .3s ease-in-out; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.justify-children {
  text-align: justify; }
  .justify-children::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0; }
  .justify-children > * {
    display: inline-block; }

.round-element {
  border-radius: 100%; }
