@if $centering-on {
  //center elements horizontally and/or vertically
  .center-vert {
    top: 50%;
    transform: translateY(-50%);
  }

  .center-hori {
    left: 50%;
    transform: translateX(-50%);
  }

  .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @each $bp in $helper-bps {
    $name: nth(nth($bp, 1), 2);
    $cond: nth(nth($bp, 2), 2);

    @media #{$cond} {
      .center-vert#{$name} {
        top: 50%;
        transform: translateY(-50%);
      }

      .center-hori#{$name} {
        left: 50%;
        transform: translateX(-50%);
      }

      .center#{$name} {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .center-off#{$name} {
        top: auto;
        left: auto;
        transform: initial;
      }
    }
  }
}
