@if $display-toggles-on {
  // use a checkbox to show and hide sibling elements with target class
  .toggle-sibling {
    & ~ .toggle-sibling-target {
      display: none;
    }

    &:checked ~ .toggle-sibling-target {
      display: block;
    }

    &:checked ~ .toggle-sibling-target-ib {
      display: inline-block;
    }

    &:checked ~ .toggle-sibling-target-dn {
      display: none;
    }
  }

  .toggle-sibling\:h {
    & ~ .toggle-sibling-target {
      display: none;
    }

    &:hover ~ .toggle-sibling-target,
    .toggle-sibling-target:hover {
      display: block;
    }

    &:hover ~ .toggle-sibling-target-ib,
    .toggle-sibling-target-ib:hover {
      display: inline-block;
    }

    &:hover ~ .toggle-sibling-target-dn {
      display: none;
    }
  }

  .toggle-children\:h {
    .toggle-children-target {
      display: none;
    }

    &:hover .toggle-children-target,
    .toggle-children-target:hover {
      display: block;
    }

    &:hover .toggle-children-target-ib,
    .toggle-children-target-ib:hover {
      display: inline-block;
    }

    &:hover .toggle-children-target-dn {
      display: none;
    }
  }

  @each $bp in $helper-bps {
    $name: nth(nth($bp, 1), 2);
    $cond: nth(nth($bp, 2), 2);

    @media #{$cond} {
      .toggle-sibling\:h#{$name} {
        & ~ .toggle-sibling-target {
          display: none;
        }

        &:hover ~ .toggle-sibling-target,
        .toggle-sibling-target:hover {
          display: block;
        }

        &:hover ~ .toggle-sibling-target-ib,
        .toggle-sibling-target-ib:hover {
          display: inline-block;
        }

        &:hover ~ .toggle-sibling-target-dn {
          display: none;
        }
      }
    }
  }

  .hide-last-child *:last-child {
    display: none;
  }
}