@if $uncategorized-on {
  // obligatory clearfix
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  // converts overflow text to ellipsis
  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // All direct children will be justified
  .justify-children {
    text-align: justify;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 0;
    }

    & > * {
      display: inline-block;
    }
  }

  //use border-radius to create a circle shape
  .round-element {
    border-radius: 100%;
  }
}
